@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary: #A8715A  ;
  --color-secondary: #DD8560  ;
  --color-bckg: #F8F0E7  ;
  --color-inputbg: #F8F0E7  ;
  --color-offwhite: #FCFCFC  ;
  --color-black: #000000  ;
}