@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary: #E7FAFE   ;
  --color-secondary: #DD8560  ;
  --color-bckg: #F8F0E7  ;
  --color-inputbg: #F8F0E7  ;
  --color-offwhite: #FCFCFC  ;
  --color-black: #000000  ;

}


.heading {
 @apply text-4xl md:text-[2.8rem] xl:text-6xl font-semibold tracking-tight
}
.heading_secondary {
 @apply font-semibold text-2xl md:text-[2.3rem] xl:text-[48px] tracking-tight
}

