@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary: #E7FAFE   ;
  --color-secondary: #DD8560  ;
  --color-bckg: #F8F0E7  ;
  --color-inputbg: #F8F0E7  ;
  --color-offwhite: #FCFCFC  ;
  --color-black: #000000  ;

}


.heading_secondary {
 @apply font-semibold text-2xl lg:text-[48px] tracking-tight
}

